@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="container mt-3">
        <div class=" bg-info p-3">
            <img class="img-fluid" src="~/images/money.jpg" alt="MakingMoney" width="1100" height="500">
        </div>
    </div>
</div>
