
@model ClientViewModel 
<h1> Contact Information</h1>
<hr />
<div class=" row">
    <div class= "col-6">
        <div class="card">
            <div class="card-header">
                <h5> Please input your contact detail</h5>

            </div>
            <div class="card-body">
                <form asp-controller="About" asp-action="CreatClients" method="post">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                       
                        <input asp-for="FName"  type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input asp-for="LName" type="text" class="form-control" />
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" type="text" class="form-control" />
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input asp-for="Mobile" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">BusinessDescription</label>
                        <input asp-for="BusinessDescription" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Message</label>
                        <input asp-for="Message" type="text" class="form-control" />
                    </div>
                    <div class="mb-3">

                        <button type="submit" class="btn btn-primary">save</button>
                       
                    </div>
                </form>

            </div>
            <div class="card-footer">

            </div>
        </div>
       

    </div>
</div>